<%- include("partials/header"); -%>
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/route/compose" class="btn btn-success">Compose</a>

        <% posts.forEach(post => { %>
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title"><%= post.title %></h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= post.time %>
                  </div>

                  <p>
                    <%=post.description.substring(0, 100) + " ..."%>
                    <a href="/route/<%= post.slug%> ">Read...</a>
                    </p>
                 
                    <div>
                      
                  <form action="/route/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          <% }) %>
 
          <footer class="navbar navbar-default navbar-static-bottom">
            <div class="container">
         
            </div>
          </footer>
   

